.page {
    background-image: url(../../images/glenn-carstens-peters-ZWD3Dx6aUJg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Myanmar, Fallback, sans-serif;
    color: white;
}